{% extends 'index.html' %} 
{% block home_main %}
    
    <div class = "container">
        <h1>News Page</h1>
        <div class = "row">
        {% for n in news %}

            <div class = "col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ n.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{n.title}}</h5>
                        <p>by : {{n.user_name}} - {{n.date}} @{{n.time}}</p>
                        <a href="{% url 'one_news' n.news_slug %}" class="btn btn-primary">Read the full article</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
    
{% endblock %}
